@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,body{
  scroll-behavior: smooth;
}

@layer base {
  :root {
    /* background: hsla(0, 0%, 93%, 1); */
    --background: 0, 0%, 93%;
    /* secondary-background: hsla(0, 0%, 100%, 1); */
    --secondary-background: 0, 0%, 100%, 1;

    /* main text color */
    --foreground: 0, 0%, 13%;
    /* background: hsla(290, 44%, 39%, 1); */
    --primary: 290, 44%, 39%;
    /* hsla(314, 96%, 37%, 1) */
    --gradiant-color:314 96% 37%;
    /* hsla(215, 77%, 21%, 1) */
    --gradiant-secondary:215 77% 21%:
    --primary-foreground: 268 100% 97%;
    --secondary: 240 3% 87%;
    --secondary-foreground: 240 4% 20%;
    /* background: hsla(0, 0%, 25%, 1); */
    --muted: 0, 0%, 25%;
    /* background: hsla(0, 0%, 0%, 1); */
    --table-text:0, 0%, 0%
    --muted-foreground: 240 10% 27%;
    --border: 0 0% 58%;
    --input: 240 10% 84%;
    --radius: 0.5rem;
    /* background: hsla(47, 54%, 66%, 1); */
    --button-bg: 47 54% 66%;
  }
}

@layer base{
  body{
    @apply bg-background
    
  }
}
@layer utilities {
  .text-gradient-medal-tally {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #8F8250, #2D2919); /* Adjust colors as needed */
  }
  .text-gradient-schedule{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #AC88A7, #4D607C); /* Adjust colors as needed */
  }

  .text-gradient-mascot-button{
    background-clip: backgroud;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #BB0490, #0C2E5E); /* Adjust colors as needed */
  }

}

.font-style{
  font-family:"Paris2024-Variable";
}
